.titulo {
    width: 40%;
    height: 6vh;
    margin: 70px 30% 30px 30%;
    padding: 10px;
    background: #00BFFF;color: white;
    text-align: center;
    font-size: 2.5rem;
    box-shadow: inset 14px 14px 28px #00a2d9,
    inset -14px -14px 28px #00dcff;
    border-radius: 125px 0px 125px 125px;
    -webkit-border-radius: 125px 0px 125px 125px;
    -moz-border-radius: 125px 0px 125px 125px;
    box-shadow: 10px 10px 20px #6e6e6e,
    -10px -10px 20px #ffffff;
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
}

.cards .card {
    width: 80%;
    transition: all 0.8s ease;
    border-radius: 55px;
}

.cards .card:hover {
    transform: scale(1.05);
}

.card .content {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin: 5px;
    background-color: white;
    transition: all 0.8s ease;
    border-radius: 55px;
}

.content svg {
    width: 20%;
    height: auto;
    max-height: 100%;

}

.content .texto {
    width: 60%;
    height: 100%;
}

.content h2 {
    font-size: 3rem;
    text-align: center;
}

.content p {
    font-size: 1.5rem;
    text-align: center;
}

.card .content:hover {
    background-color: transparent;
}

.card .content svg polyline,
.card .content svg rect,
.card .content svg path {
    transition: all 0.8s ease;
}

.cards .red {
    background: #e74949;
    background: linear-gradient(45deg, #e74949 0%, #e20c23 100%);
    background: -webkit-linear-gradient(45deg, #e74949 0%, #e20c23 100%);
    background: -moz-linear-gradient(45deg, #e74949 0%, #e20c23 100%);
    box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
    -webkit-box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
    -moz-box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
}

.cards .pink {
    background: rgb(254, 218, 119);
    background: linear-gradient(18deg, rgba(254, 218, 119, 1) 11%, rgba(129, 52, 175, 1) 28%, rgba(221, 42, 123, 1) 77%);
    background: -webkit-linear-gradient(18deg, rgba(254, 218, 119, 1) 11%, rgba(129, 52, 175, 1) 28%, rgba(221, 42, 123, 1) 77%);
    background: -moz-linear-gradient(18deg, rgba(254, 218, 119, 1) 11%, rgba(129, 52, 175, 1) 28%, rgba(221, 42, 123, 1) 77%);
    box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
    -webkit-box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
    -moz-box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
}

.cards .green {
    background: rgb(48, 193, 118);
    background: linear-gradient(50deg, rgba(48, 193, 118, 1) 17%, rgba(15, 236, 22, 1) 58%);
    background: -webkit-linear-gradient(50deg, rgba(48, 193, 118, 1) 17%, rgba(15, 236, 22, 1) 58%);
    background: -moz-linear-gradient(50deg, rgba(48, 193, 118, 1) 17%, rgba(15, 236, 22, 1) 58%);
    box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
    -webkit-box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
    -moz-box-shadow: 1px 0px 36px 4px rgba(214, 25, 25, 0.61);
}

.card .gmail {
    color: #f43f5e;
}

.card .gmail:hover {
    color: white;
}

.card .gmail svg polyline,
.card .gmail svg rect {
    stroke: #f43f5e;
}

.card .gmail:hover svg polyline,
.card .gmail:hover svg rect,
.card .gmail:hover svg path {
    stroke: white;
}

.card .instagram {
    color: #b83497;
}

.card .instagram:hover {
    color: white;
}

.card .instagram svg polyline,
.card .instagram svg rect,
.card .instagram svg path {
    stroke: #b83497;
}

.card .instagram:hover svg polyline,
.card .instagram:hover svg rect,
.card .instagram:hover svg path {
    stroke: white;
}

.card .whatsapp {
    color: #14cc2d;
}

.card .whatsapp:hover {
    color: white;
}

.card .whatsapp svg,
.card .whatsapp svg path {
    fill: #14cc2d;
}

.card .whatsapp:hover svg,
.card .whatsapp:hover svg path {
    fill: white;
}

@media screen and (max-width: 768px){
    .titulo{
        font-size: 1.5rem;
    }
    .cards{
        width: 100%;
    }

    .card{
        width: 95%;
    }

    .card .content{
        min-height: 15vh;
    }

    .card h2{
        font-size:1.75rem;
    }
    .card p {
        font-size: .8rem;
    }
}
@media screen and (max-width: 1024px){
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10% ;
        font-size: 1.5rem;
    }
}